* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: rgb(68, 68, 68);
    margin-top: auto;
    padding: 50px;
}

header {
    background-image: url(./images/engin-akyurt-LHPehhps2cs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-image: linear-gradient(hsla(258, 100%, 50%, 0.6),
                                  hsl(17, 100%, 50%, 0.6))
                                  fill 1;
}

nav {
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    list-style: none;
}

.welcome {
    margin-bottom: 50px;
    padding-top: 200px;
    padding-bottom: 400px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 50%;
}

.contact {
    text-align: center;
}