* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 80px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: rgb(32, 32, 32);
    margin-top: 80px;
    padding: 50px;
}

header {
    background-image: url(./images/engin-akyurt-LHPehhps2cs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-image: linear-gradient(hsla(258, 100%, 50%, 0.6),
                                  hsl(17, 100%, 50%, 0.6))
                                  fill 1;
    margin-bottom: 80px;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1030;
    height: 50px;
    width: 100%;
    background-color: rgb(32, 32, 32);
}

ul {
    height: 50px;
}

li {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: larger;
    transition: .3s;
}

li a:hover {
    text-decoration: underline;
    transform: scale(1.5);
}

a {
    font-size: x-large;
    color: white;
    text-decoration: none;
}

button {
    background-color: rgb(38, 150, 255);
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}

button:hover {
    background-color: white;
    color: rgb(38, 150, 255);
}

button:active {
    background-color: rgb(38, 150, 255);
    color: white;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 36px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    list-style: none;
}

.welcome {
    margin-bottom: 50px;
    padding-top: 200px;
    padding-bottom: 400px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgb(221, 221, 221);
    width: 50%;
}

.content p {
    width: 75%;
    font-size: 24px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact p {
    font-size: 20px;
    color: white;
}